[program:smarty]
directory = {{ project_path }}/svc
command = {{ virtualenv_path }}/bin/python {{ project_path }}/svc/run_app.py
autostart = true
stdout_logfile = {{ log_path }}/smarty_supervisor.log
redirect_stderr = true
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
stopsignal=QUIT
